body {
	margin:0;
	padding:0;
	font: 10px 'Roboto', Verdana, Arial, sans-serif;
	color:#7a7a7a;
	min-width: 290px;
}
strong { font-weight:bold;}
h1, h2, h3, h4, h5, h6 {
	font-family:'Roboto', sans-serif;
	color:#037095;
	clear:both;
	line-height: 1;
}
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {text-decoration: none;}
h1 {}
h2 {}
h3 { font-size:3em;}
h4 { font-size:2.2em;}
h5 { font-size:1.8em;}
h6 { font-size:1.4em;}

div#barra{
/*	background-color: transparent;
	background-color: #2d2d2d;
*/	
	padding-top:3px;
	padding-right:3px;
	padding-left:3px;
	background-image: linear-gradient(top, rgb(68,68,68) 8%, rgb(34,34,34) 54%);
	background-image: -o-linear-gradient(top, rgb(68,68,68) 8%, rgb(34,34,34) 54%);
	background-image: -moz-linear-gradient(top, rgb(68,68,68) 8%, rgb(34,34,34) 54%);
	background-image: -webkit-linear-gradient(top, rgb(68,68,68) 8%, rgb(34,34,34) 54%);
	background-image: -ms-linear-gradient(top, rgb(68,68,68) 8%, rgb(34,34,34) 54%);

	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0.08, rgb(68,68,68)),
		color-stop(0.54, rgb(34,34,34))
	);
}
div#conteudo{
	padding-top: 7px;
	font-family: inherit;
}
div.interno{
	padding: 10px;
	font-family: inherit;
}
div.interno h1{
	font-family: inherit;
	color: #555;
	font-weight: normal;
	margin:0;
}
div#header{
	font-family: inherit;
	margin-top:5px;
	margin-bottom:15px;
}
div#header div.acoes{
	float:right;
}
div#header div.acoes i{
	font-size:30px;
	color: #999;
}
div#header h1{
	margin: 0;
	padding: 0;
	font-family: inherit;
	font-size:24px;
}

div#barra h1{
	margin-left: 10px;
	display: inline;
}		
a, a:visited {
	color: #006E7C;
	text-decoration:none;
}

a:hover {
	text-decoration:underline;
}

div.nav{
	display:inline;
}
div.nav ul li {
	display:inline;
	margin:0 1.2em;
}
div.nav ul {
	list-style: none;
	display:inline;
}
div.nav ul li{
	display: inline;
}
div.nav ul li a{
	color: #fff;
}

.xmenu{
font-size: 14px;
font-weight: bold;
font-family: "Roboto","Arial",sans-serif;
background-color: transparent;
display: inline-block;
/*margin-top:30px;*/

}
.xmenu ul{
	list-style: none;
	margin:0;
	padding: 0;
	display:inline;
	z-index: 100;
}
.xmenu ul li{
	font-family: inherit;
	position: relative;
	display: inline-block;
	background-color: transparent;
	color: #E7E7E7;
	padding: 6px 9px;
	/*height: 24px;*/
}
.xmenu ul li a{
	font-family: inherit;
	color: inherit;
}

.xmenu ul li ul li{
	font-family: inherit;
	display: inline-block;
	width:180px;
	background-color:#037095;
}
.xmenu ul li ul li a{
	font-family: inherit;
	color: #fff;
}
.xmenu li ul{
	display: none;
	position: absolute;
	top: 25px;
	left: 0;
}	
.xmenu li ul li ul{
	display: none;
	position: absolute;
	top: 0px;
	left: 198px;
}
.xmenu li:hover ul { display: block; } 
.xmenu li:hover ul li ul{ display: none; }
.xmenu li ul li:hover ul { display: block; }
.xmenu ul li ul li:hover {background-color: #0c7da4;}
.xmenu ul li.inativo a{
	color: #999;
}

.xmenu form {display: inline;}
#main {	padding-bottom:45px;}
#title_main {
	float:left;
	/*padding-left:60px;*/
	margin-bottom: 15px;
	background:url(../img/icon-sprites.png) no-repeat;
}
/*#title_main h2 { padding: 12px 0 0 0;}*/
#title_main h2 .title {
/*	font-size:4.8em;
	letter-spacing: -4px;
*/	font-size:2.8em;
	letter-spacing: -2px;
}
#title_main h2 .registry {
	font-size:3.5em;
	color:#9fa1a1;
	letter-spacing: -1px;
}
#title_main h2 .status {
	font-size:2.5em;
	color:#9fa1a1;
	letter-spacing: -1px;
}
.links a{
	padding-bottom:5px; 
	display: inline-block;
	margin-bottom: 2px;
}
.links i{
	font-size: 2em;
	background-color: #00b0ca; 
	padding-left:25px;
	padding-right:25px; 
	padding-top:5px; 
	padding-bottom:5px; 
	color:#fff; 
	cursor:pointer;
	text-decoration: none;
	border-radius: 3px;
}
.links a:hover
.links a:visited
.links a:active
.links a:link{
	text-decoration: none;
}

#content_main { clear:both;}


#content_main .tab {
	background:#f5f5f5;
}
#content_main .tab ul{
	padding: 20px 0;
	margin:0;
}
#content_main .tab li {
	margin:0;
	padding:0;
	list-style-type: none;
}
#content_main .tab li a { 
	color:#037095;
	display:block;
	font-size:2em;
	padding: 15px 20px;
	margin-left: 15px;
	cursor:pointer;
	font-size:1.4em;
	font-family: 'Roboto', sans-serif;
}
#content_main .tab li a:hover {	text-decoration:none; }
#content_main .tab li a.active { background:#fff;}
#content_main .tab .box {
	padding: 25px;
	background: #fff;
	overflow: hidden;
	margin:20px;
	min-height:200px;
}

#content_main .box h3 {	padding:0 0 15px 0; }
#content_main .box h4 {	padding:15px 0 10px 0; }
#content_main .box span h4 {
	padding:10px 0 5px;
	float: left;
	width: 100%;
}
#content_main .box p.info {
	padding: 5px 0;
	margin-right: 15px;
	color: #8f9090;
	font-style: italic;
	font-size: 1.2em;
}
#content_main .box input[type="text"] {
	padding:0;
	margin:0;
	border: 1px solid #e8e8e8;
	font: 1.2em Arial, sans-serif;
	color: #7a7a7a;
	background:#f5f5f5;
}
#content_main .box input:focus {
	border-color:#037095;
	box-shadow: 0px 0px 15px -2px #c7c7c7;
}
#content_main .box select {
	margin:0;
	padding:1px 0;
	font: 1em Arial, sans-serif;
	width: 100%;
	color: #7a7a7a;
	background:#f5f5f5;
	border:1px solid #e8e8e8;
}
#content_main .box textarea {
	width:98%;
	margin: 0;
	border: 1px solid #e8e8e8;
	font: 1.2em Arial, sans-serif;
	color: #7a7a7a;
	background: #f5f5f5;
	height:180px;
}
#content_main .box input[type="file"] {
	width:98%;
	margin: 0;
	border: 1px solid #e8e8e8;
	font: 1.2em Arial, sans-serif;
	color: #7a7a7a;
	background: #f5f5f5;
}
#content_main .box ul {
	padding:0;
	margin:0;
	list-style-type:none;
	color:#6c6c6c;/*8f9090*/
}
#content_main .box li{
	float: left;
	width: 47%;
	font-size:1.1em;
	position:relative;
	padding: 5px 0;
	margin-right: 3%;
}
#content_main .box li i{
	padding:0;
	margin:0;
}

#content_main .box li:hover { color:#037095;}
#content_main .box li.title { width:100%; }
#content_main .box li .label {
	float: left;
	width: 43%;
	margin-right: 6%;
	padding: 2px 0;
}
#content_main .box li .content {
	float: left;
	width:50%;
}
#content_main .box li .content input[type=text] {
	width: 96.3%;
	padding: 1px 4px;
}

#content_main .box li.full{
	width: 97%;
}
#content_main .box li.full .label {
	width: 18%;
}
#content_main .box li.full .content {
	float: left;
	width:75%;
}


#content_main .box li .content input.edited { font-style:italic;}
#content_main .box li .content input[readonly=readonly],
#content_main .box li .content select[disabled],
#content_main .box li .content textarea[disabled]{
	background:none;
	border-color:#fff;
}
#content_main .box li .content select[disabled]{
	margin-left: -4px;
}

table{
	margin: auto;
	/*width: 100%;*/
	border-spacing: 0px;
	border-collapse: collapse;
	font-family: inherit;
	font-size:2em;
	color: #555;
	border-bottom: solid 1px #ccc;
}
table.listagem td{
	border-left: solid 1px #ccc;
	border-right: solid 1px #ccc;
	background-color: transparent;
	font-family: inherit;
	font-size: 0.6em;
	padding: 7px 3px;
}
table.listagem tr td:first-child{
	border-left:none;
}
table.listagem tr td:last-child{
	border-right:none;
}

table.listagem th{
	border: solid 1px #999;
	border-top:none;
	background-color: #fff;
	font-family: inherit;
	font-size: 0.6em;
	padding-top: 5px;
	padding-bottom: 5px;
	border-top: solid 1px #ccc;
	border-bottom: solid 1px #333;
	background-image: linear-gradient(top, rgb(238,238,238) 9%, rgb(224,224,224) 55%);
	background-image: -o-linear-gradient(top, rgb(238,238,238) 9%, rgb(224,224,224) 55%);
	background-image: -moz-linear-gradient(top, rgb(238,238,238) 9%, rgb(224,224,224) 55%);
	background-image: -webkit-linear-gradient(top, rgb(238,238,238) 9%, rgb(224,224,224) 55%);
	background-image: -ms-linear-gradient(top, rgb(238,238,238) 9%, rgb(224,224,224) 55%);

	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0.09, rgb(238,238,238)),
		color-stop(0.55, rgb(224,224,224))
	);

}
table.listagem tr th:first-child{
	border-left:none;
}

table.listagem tr th:last-child{
	border-right:none;
}

table.listagem tbody tr:last-child td{
	border-bottom: none;
}

table.listagem td.c{
	text-align: center;
}

table.listagem td.r{
	text-align:right;
}

table.listagem th.c{
	text-align: center;
}
table.listagem th.r{
	text-align:right;
}
table.listagem tr.even {
	background-color: #E7E7E7;
}
table.listagem td.iso{
	border: solid 1px #E7E7E7;
	background-color: #fff;
}
table.listagem tr td.red {
	background-color: transparent;
}
table.listagem tr td a{
	border-radius: 4px;
	-webkit-border-radius: 4px;
	color: #333;
	padding:2px 4px;
	border: solid 1px #666;
	background-image: linear-gradient(top, rgb(245,245,245) 40%, rgb(224,224,224) 70%, rgb(217,217,217) 85%);
	background-image: -o-linear-gradient(top, rgb(245,245,245) 40%, rgb(224,224,224) 70%, rgb(217,217,217) 85%);
	background-image: -moz-linear-gradient(top, rgb(245,245,245) 40%, rgb(224,224,224) 70%, rgb(217,217,217) 85%);
	background-image: -webkit-linear-gradient(top, rgb(245,245,245) 40%, rgb(224,224,224) 70%, rgb(217,217,217) 85%);
	background-image: -ms-linear-gradient(top, rgb(245,245,245) 40%, rgb(224,224,224) 70%, rgb(217,217,217) 85%);

	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0.4, rgb(245,245,245)),
		color-stop(0.7, rgb(224,224,224)),
		color-stop(0.85, rgb(217,217,217))
	);			
}
/*==========================================
  filtros
 *==========================================*/
div.filtro p{
	margin-top:5px;
	margin-top:0px;
	margin-left:0px;
}
div.filtro select{
	/*width:100%;*/
	width:auto;
	margin:auto;
}
div.filtro p.label{
	margin-top:3px;
	font-size:1.1em;
	/*text-align: right;*/
}

/*==========================================
  forms
 *==========================================*/
div.form ul{
	list-style: none;
	margin:0;
	padding:0;
}

div.form ul
, div.form ul li
, div.form ul li p{
	display: inline;
}

div.form ul li p{
	display: inline;
}
div.form ul li{
	float: left;
	width: 47%;
	font-size:1.1em;
	position:relative;
	padding: 5px 0;
	margin-right: 3%;
}
div.form ul li:hover { color:#037095;}
div.form ul li.title { width:100%; }
div.form ul li .label {
	float: left;
	width: 43%;
	margin:5px;
	margin-right: 6%;
	padding: 2px 0;
	font-size: 12px;
}
div.form ul li p.content {
	float: left;
	width:50%;
	margin:0;
}
div.form ul li .content input[type=text] {
	width: 96.3%;
	padding: 1px 4px;
}
div.form ul li .content input.edited { font-style:italic;}
div.form ul li .content input[readonly=readonly],
div.form ul li .content select[disabled],
div.form ul li .content textarea[disabled]{
	background:none;
	border-color:#fff;
}
div.form ul li .content select[disabled]{
	margin-left: -4px;
}

div.filtro{
	margin-top:5px;
	margin-bottom:10px;
	font-size:11px;
}
div.filtro ul li select{
	font-size: inherit;	
}
div.filtro ul{
	list-style: none;
}

div.filtro ul
, div.filtro ul li
, div.filtro ul li p{
	font-size: inherit;
	display: inline;
}

div.filtro ul li p{
	
}
/* ajustes */
@media screen and (max-width: 720px) {
	body { font-size:12px;}
	#main { padding-bottom: 25px ;}
	.grid { padding:0 5px; }
	#header { height:130px; }
	#header .nav.main { float: left;}
	#header .nav.option { float: right;}
	.main_options {
		float: none;
		clear:both;
		}
	#logo { text-align: center; }
	#logo img { width: 120px;}
	.tinynav { display: block; }
	#title_main h2 .title { font-size:3.2em; }
    #header .nav ul{ display: none }
	#header .nav.main { width: 45%; }
	#header .nav.option { width: 45%; }
	#content_main .row>div { overflow: hidden; }
	#content_main .tab .box {
		padding:15px;
		margin: 10px;
	}
	#content_main .tab ul { padding: 20px 0 0 0; }
	#content_main .tab li a { margin: 0 10px; }
	#content_main .box li { width:100%;}
	#content_main .box li .label { width:100%; }
	#content_main .box li .content { width: 100%; }
	#content_main .box li .content input[type=text] {
		width: 98%; }
	#footer { text-align: center; }
	img.tip { right:0;}
	
	#content_main .filtros li {
		margin:0;
		width:100%;
	}
	#content_main .filtros li .label {
		margin:0;
		width:100%;
	}
	#content_main .filtros li .content input[type=text] {
		padding: 10px 4px;
		width:98%;
	}
	#content_main .filtros li .content select { width:100%; }
	#content_main .filtros li .content { width:100%; }
	#content_main .filtros li .content select {
		padding:15px 0;
		width: 100%;
	}
	#content_main .filtros .buttons_group {
		width: 99.7%;
		margin: 0 0 25px 0;
	}
	.search input[type=button] { width: 49.5%;}
	#content_main .results th,
	#content_main .results td { padding:15px 3px 15px 35px; }
}
@media screen and (min-width: 720px) and (max-width: 986px)  {
	.grid { padding:0; }
    .tinynav { display: block; }
	#header .nav select.tinynav2 { float:right;}
    #header .nav ul{ display: none }
	#logo img {
		padding: 19px 0 8px 0;
		width: 100%;
		}
	#content_main .tab>ul  { width: 120px;}
	#content_main .tab>div {margin-left: 0;}
	/*#content_main .tab .box { margin-left: 0; }*/
	#content_main .tab .box { padding: 15px; }
	#content_main .box li { width:100%;}
	#content_main .tab li a { padding: 15px 10px; }
	#sidebar_right .period_of_stay .label { font-size:1.4em;}
	#sidebar_right .period_of_stay .info {font-size: 3em;}
	#sidebar_right .file_box li.iten .name { font-size: 1.3em; }
	#sidebar_right .file_box li.iten .label_upload_date { display: none;}
	
	#content_main .filtros li {
		width: 99%;
		margin: 0 0 0 2.2%;
	}
	#content_main .filtros li .label { width: 42.7%; }
}
@media screen and (min-width: 986px) and (max-width: 1236px) {
	#sidebar_right .file_box li.iten span.action_button { margin: 0 -1px; }
	#content_main .tab .box { margin-left:-30px; }
	#content_main .box li { width: 47%;}
	#sidebar_right .view_all {
		float:none;
		margin-top:-12px;
	}
}
@media screen and (min-width: 1236px) {
	/*#content_main .tab .box { margin-left:-30px;}*/
	#content_main .box li { width: 47%;}
}

    .subtitle{
        width:100% !important;
        color: #037095;
        font-family: 'Roboto',sans-serif !important;
        line-height: 1;
        font-size:18px !important;
        border-bottom: 1px dotted #c0c0c0;
        margin-bottom:10px!important;
        padding-bottom: 10px;
    }
    .form li{
        padding-top:10px !important;
        padding-bottom:10px !important;
    }
    .form li:hover{
        background: #f9f9f9; 
    }
    .form label{
        width:100%;
        font:11px arial;
        
    }
    .form input[type="text"],.form textarea, .form select{
        background:  #f9f9f9 !important;
        border: 1px solid #E8E8E8  !important;
        color: #7A7A7A !important;
        font: 11px Arial,sans-serif !important;
        padding:3px  !important;
        width:100%;
    }
    .form input[type="text"]:hover,.form textarea:hover, .form select:hover{
        border:1px solid #c0c0c0!important;
    }
    .form input[type="text"]:focus,.form textarea:focus, .form select:focus{
        font-weight: bold !important;
        border: 1px solid #E8E8E8  !important;
        box-shadow: none !Important;
         border:1px solid #c0c0c0!important;
        
    }
    .form textarea{
        height:40px !important;
    }
    .table{
        font-size:12px !important;
    }