/*
@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    src: local("Open Sans Bold"), local("OpenSans-Bold"), url(https://themes.googleusercontent.com/static/fonts/opensans/v6/k3k702ZOKiLJc3WVjuplzJ1r3JsPcQLi8jytr04NNhU.woff) format('woff');
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300;
    src: local("Open Sans Light"), local("OpenSans-Light"), url(https://themes.googleusercontent.com/static/fonts/opensans/v6/DXI1ORHCpsQm3Vp6mXoaTZ1r3JsPcQLi8jytr04NNhU.woff) format('woff');
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 800;
    src: local("Open Sans Extrabold"), local("OpenSans-Extrabold"), url(https://themes.googleusercontent.com/static/fonts/opensans/v6/EInbV5DfGHOiMmvb1Xr-hp1r3JsPcQLi8jytr04NNhU.woff) format('woff');
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    src: local("Open Sans"), local("OpenSans"), url(https://themes.googleusercontent.com/static/fonts/opensans/v6/K88pR3goAWT7BTt32Z01mz8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
*/

body {
    margin: 0;
/*    font-family: 'Open Sans', 'Lucida Grande', Verdana, Arial, Helvetica, sans-serif;
*/
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    background-color: #ffffff;
}

a {
    color: #0A5BC4;
    text-decoration: none;
}

a:hover, a:focus {
    color: #094AB2;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p, label, em, small, i {
    font-weight: lighter;
}

ul.unstyled, ol.unstyled {
    margin-left: 0;
    list-style: none;
}

ul.unstyled i, ol.unstyled i {
    margin-right: 8px;
    font-size: 10px;
    font-weight: lighter;
    vertical-align: middle;
}

ul.unstyled i ~ ul, ol.unstyled i ~ ol {
    margin-left: 40px;
}

ul.unstyled i ~ ul.unstyled, ol.unstyled i ~ ol.unstyled {
    margin-left: 22px;
}

blockquote {
    padding: 0 0 0 15px;
    margin: 0 0 20px;
    border-left: 5px solid #222;
}

blockquote.pull-right {
    float: right;
    padding-right: 15px;
    padding-left: 0;
    border-right: 5px solid #222;
    border-left: 0;
}

.widget[class*="bg-"] blockquote {
    border-left-color: rgba(255, 255, 255, 0.25);
}

.widget[class*="bg-"] blockquote.pull-right {
    border-right-color: rgba(255, 255, 255, 0.25);
}

.widget[class*="bg-"] blockquote small {
    color: inherit;
}

code, pre {
    padding: 0 3px 2px;
    font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
    font-size: 12px;
    color: #333333;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

input, button, select, textarea {
    font-family: 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

legend {
    display: block;
    width: 100%;
    padding: 0;
    padding-bottom: 5px;
    margin-bottom: 20px;
    font-size: 21px;
    font-weight: lighter;
    line-height: normal;
    color: inherit;
    border: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

.form-bordered legend {
    border-bottom: 0 none;
}

.full-widget legend {
    padding-left: 15px;
}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    display: inline-block;
    height: 20px;
    padding: 4px 6px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 20px;
    color: #555555;
    vertical-align: middle;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

textarea {
    height: auto;
}

select, input[type="file"] {
    height: 30px;
    line-height: 30px;
    *margin-top: 4px;
}

select {
    width: 220px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
}

select[multiple], select[size] {
    height: auto;
}

select:hover, input[type="checkbox"]:hover {
    border-color: rgba(0, 0, 0, 0.8);
    outline: thin solid rgba(0, 0, 0, 0.8);
}

select:focus, input[type="file"]:focus, input[type="radio"]:focus, input[type="checkbox"]:focus {
    border-color: rgba(0, 0, 0, 0.8);
    outline: thin dotted rgba(0, 0, 0, 0.8);
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
    border-color: rgba(0, 0, 0, 0.8);
    outline: 0;
    outline: thin dotted \9;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 4px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 4px rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 4px rgba(0, 0, 0, 0.15);
}

.muted {
    color: #999999 !important;
}

.control-group.warning .control-label, .control-group.warning .help-block, .control-group.warning .help-inline {
    color: #dc572e;
}

.control-group.warning .checkbox, .control-group.warning .radio, .control-group.warning input, .control-group.warning select, .control-group.warning textarea {
    color: #dc572e;
}

.control-group.warning input, .control-group.warning select, .control-group.warning textarea {
    border-color: #dc572e;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.control-group.warning input:focus, .control-group.warning select:focus, .control-group.warning textarea:focus {
    border-color: #d24726;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #dbc59e;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #dbc59e;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #dbc59e;
}

.control-group.warning .input-prepend .add-on, .control-group.warning .input-append .add-on {
    color: #dc572e;
    background-color: #fcf8e3;
    border-color: #d24726;
}

.control-group.error .control-label, .control-group.error .help-block, .control-group.error .help-inline {
    color: #bf1e4b;
}

.control-group.error .checkbox, .control-group.error .radio, .control-group.error input, .control-group.error select, .control-group.error textarea {
    color: #bf1e4b;
}

.control-group.error input, .control-group.error select, .control-group.error textarea {
    border-color: #bf1e4b;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.control-group.error input:focus, .control-group.error select:focus, .control-group.error textarea:focus {
    border-color: #bf1e4b;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
}

.control-group.error .input-prepend .add-on, .control-group.error .input-append .add-on {
    color: #bf1e4b;
    background-color: #f2dede;
    border-color: #bf1e4b;
}

.control-group.success .control-label, .control-group.success .help-block, .control-group.success .help-inline {
    color: #00A600;
}

.control-group.success .checkbox, .control-group.success .radio, .control-group.success input, .control-group.success select, .control-group.success textarea {
    color: #00A600;
}

.control-group.success input, .control-group.success select, .control-group.success textarea {
    border-color: #00A600;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.control-group.success input:focus, .control-group.success select:focus, .control-group.success textarea:focus {
    border-color: #008a00;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7aba7b;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7aba7b;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7aba7b;
}

.control-group.success .input-prepend .add-on, .control-group.success .input-append .add-on {
    color: #00A600;
    background-color: #dff0d8;
    border-color: #008a00;
}

.control-group.info .control-label, .control-group.info .help-block, .control-group.info .help-inline {
    color: #2e8def;
}

.control-group.info .checkbox, .control-group.info .radio, .control-group.info input, .control-group.info select, .control-group.info textarea {
    color: #2e8def;
}

.control-group.info input, .control-group.info select, .control-group.info textarea {
    border-color: #2e8def;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.control-group.info input:focus, .control-group.info select:focus, .control-group.info textarea:focus {
    border-color: #2672ec;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7ab5d3;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7ab5d3;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7ab5d3;
}

.control-group.info .input-prepend .add-on, .control-group.info .input-append .add-on {
    color: #2e8def;
    background-color: #d9edf7;
    border-color: #2672ec;
}

.form-inline button.btn {
    margin-top: -10px;
}

.form-actions {
    padding: 18px 20px 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #ffffff;
    border-top: 1px solid #dddddd;
    *zoom: 1;
}

.widget[class*="bg-"] .form-actions {
    border-color: transparent;
    background-color: rgba(255, 255, 255, 0.25);
}

.input-append, .input-prepend {
    white-space: normal;
}

.input-append input, .input-prepend input, .input-append select, .input-prepend select, .input-append .uneditable-input, .input-prepend .uneditable-input {
    margin-bottom: 0;
    *margin-left: 0;
    vertical-align: top;
    -webkit-border-radius: 0 0px 0px 0;
    -moz-border-radius: 0 0px 0px 0;
    border-radius: 0 0px 0px 0;
}

.input-prepend .add-on:first-child, .input-prepend .btn:first-child {
    -webkit-border-radius: 0px 0 0 0px;
    -moz-border-radius: 0px 0 0 0px;
    border-radius: 0px 0 0 0px;
}

.input-append input, .input-append select, .input-append .uneditable-input {
    -webkit-border-radius: 0px 0 0 0px;
    -moz-border-radius: 0px 0 0 0px;
    border-radius: 0px 0 0 0px;
}

.input-append input + .btn-group .btn:last-child, .input-append select + .btn-group .btn:last-child, .input-append .uneditable-input + .btn-group .btn:last-child {
    -webkit-border-radius: 0 0px 0px 0;
    -moz-border-radius: 0 0px 0px 0;
    border-radius: 0 0px 0px 0;
}

.input-append .add-on:last-child, .input-append .btn:last-child, .input-append .btn-group:last-child > .dropdown-toggle {
    -webkit-border-radius: 0 0px 0px 0;
    -moz-border-radius: 0 0px 0px 0;
    border-radius: 0 0px 0px 0;
}

.input-prepend.input-append input + .btn-group .btn, .input-prepend.input-append select + .btn-group .btn, .input-prepend.input-append .uneditable-input + .btn-group .btn {
    -webkit-border-radius: 0 0px 0px 0;
    -moz-border-radius: 0 0px 0px 0;
    border-radius: 0 0px 0px 0;
}

.input-prepend.input-append .add-on:first-child, .input-prepend.input-append .btn:first-child {
    margin-right: -1px;
    -webkit-border-radius: 0px 0 0 0px;
    -moz-border-radius: 0px 0 0 0px;
    border-radius: 0px 0 0 0px;
}

.input-prepend.input-append .add-on:last-child, .input-prepend.input-append .btn:last-child {
    margin-left: -1px;
    -webkit-border-radius: 0 0px 0px 0;
    -moz-border-radius: 0 0px 0px 0;
    border-radius: 0 0px 0px 0;
}

input.search-query {
    padding-right: 14px;
    padding-right: 4px \9;
    padding-left: 14px;
    padding-left: 4px \9;
    margin-bottom: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.form-search .input-append .search-query {
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}

.form-search .input-append .btn {
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
}

.form-search .input-prepend .search-query {
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
}

.form-search .input-prepend .btn {
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}

.input-prepend .add-on {
    float: left;
}

.input-prepend.input-append .add-on:last-child {
    float: none;
}

.input-prepend.input-prepend-inline {
    position: relative;
}

.input-prepend.input-prepend-inline > input {
    padding-left: 34px;
}

.input-prepend.input-prepend-inline > .add-on, .input-prepend.input-prepend-inline > .btn {
    position: absolute;
    float: left;
    margin-top: 2px;
    margin-left: 2px;
    padding: 0;
    width: 30px;
    height: 26px;
    line-height: 26px;
    z-index: 4;
}

.input-prepend.input-prepend-inline > .add-on {
    width: auto;
    height: 24px;
    left: 0px;
    padding: 0 5px;
    line-height: 24px;
    border: 0 none !important;
    color: rgba(0, 0, 0, 0.5);
    background: transparent !important;
}

.input-prepend.input-prepend-inline > .add-on i, .input-prepend.input-prepend-inline > .btn i {
    line-height: 26px;
}

.input-append.input-append-inline {
    position: relative;
}

.input-append.input-append-inline > input {
    padding-right: 34px;
}

.input-append.input-append-inline > .add-on, .input-append.input-append-inline > .btn {
    position: absolute;
    right: 2px;
    margin-top: 2px;
    margin-left: -32px;
    padding: 0;
    width: 30px;
    height: 26px;
    line-height: 26px;
    z-index: 2;
}

.input-append.input-append-inline > .add-on {
    width: auto;
    height: 24px;
    padding: 0 5px;
    right: 0px;
    line-height: 24px;
    border: 0 none !important;
    color: rgba(0, 0, 0, 0.5);
    background: transparent !important;
}

.input-append.input-append-inline > .add-on i, .input-append.input-append-inline > .btn i {
    line-height: 26px;
}

.input-prepend.input-append.input-append-inline.input-prepend-inline > .add-on.prepend {
    position: absolute;
    float: left;
    margin-top: 2px;
    margin-left: 2px;
    right: auto;
    width: auto;
    height: 24px;
    padding: 0 5px;
    line-height: 24px;
    border: 0 none !important;
    color: rgba(0, 0, 0, 0.5);
    background: transparent !important;
}

.input-prepend.input-append.input-append-inline.input-prepend-inline > .add-on.append {
    position: absolute;
    float: right;
    margin-top: 2px;
    margin-left: -32px;
    left: auto;
    width: auto;
    height: 24px;
    padding: 0 5px;
    line-height: 24px;
    border: 0 none !important;
    color: rgba(0, 0, 0, 0.5);
    background: transparent !important;
}

.table-bordered {
    border: 1px solid #dddddd;
    border-collapse: separate;
    *border-collapse: collapse;
    border-left: 0;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.table-bordered thead:first-child tr:first-child > th:first-child, .table-bordered tbody:first-child tr:first-child > td:first-child, .table-bordered tbody:first-child tr:first-child > th:first-child {
    -webkit-border-top-left-radius: 0px;
    border-top-left-radius: 0px;
    -moz-border-radius-topleft: 0px;
}

.table-bordered thead:first-child tr:first-child > th:last-child, .table-bordered tbody:first-child tr:first-child > td:last-child, .table-bordered tbody:first-child tr:first-child > th:last-child {
    -webkit-border-top-right-radius: 0px;
    border-top-right-radius: 0px;
    -moz-border-radius-topright: 0px;
}

.table-bordered thead:last-child tr:last-child > th:first-child, .table-bordered tbody:last-child tr:last-child > td:first-child, .table-bordered tbody:last-child tr:last-child > th:first-child, .table-bordered tfoot:last-child tr:last-child > td:first-child, .table-bordered tfoot:last-child tr:last-child > th:first-child {
    -webkit-border-bottom-left-radius: 0px;
    border-bottom-left-radius: 0px;
    -moz-border-radius-bottomleft: 0px;
}

.table-bordered thead:last-child tr:last-child > th:last-child, .table-bordered tbody:last-child tr:last-child > td:last-child, .table-bordered tbody:last-child tr:last-child > th:last-child, .table-bordered tfoot:last-child tr:last-child > td:last-child, .table-bordered tfoot:last-child tr:last-child > th:last-child {
    -webkit-border-bottom-right-radius: 0px;
    border-bottom-right-radius: 0px;
    -moz-border-radius-bottomright: 0px;
}

.table-bordered tfoot + tbody:last-child tr:last-child td:first-child {
    -webkit-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;
    -moz-border-radius-bottomleft: 0;
}

.table-bordered tfoot + tbody:last-child tr:last-child td:last-child {
    -webkit-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;
    -moz-border-radius-bottomright: 0;
}

.table-bordered caption + thead tr:first-child th:first-child, .table-bordered caption + tbody tr:first-child td:first-child, .table-bordered colgroup + thead tr:first-child th:first-child, .table-bordered colgroup + tbody tr:first-child td:first-child {
    -webkit-border-top-left-radius: 0px;
    border-top-left-radius: 0px;
    -moz-border-radius-topleft: 0px;
}

.table-bordered caption + thead tr:first-child th:last-child, .table-bordered caption + tbody tr:first-child td:last-child, .table-bordered colgroup + thead tr:first-child th:last-child, .table-bordered colgroup + tbody tr:first-child td:last-child {
    -webkit-border-top-right-radius: 0px;
    border-top-right-radius: 0px;
    -moz-border-radius-topright: 0px;
}

.table tbody tr.success > td {
    background-color: #008a00;
    color: #ffffff;
}

.table tbody tr.error > td {
    background-color: #ac193d;
    color: #ffffff;
}

.table tbody tr.warning > td {
    background-color: #d24726;
    color: #ffffff;
}

.table tbody tr.info > td {
    background-color: #2672ec;
    color: #ffffff;
}

.table-hover tbody tr.success:hover > td {
    background-color: #00a600;
    color: #ffffff;
}

.table-hover tbody tr.error:hover > td {
    background-color: #bf1e4b;
    color: #ffffff;
}

.table-hover tbody tr.warning:hover > td {
    background-color: #dc572e;
    color: #ffffff;
}

.table-hover tbody tr.info:hover > td {
    background-color: #2e8def;
    color: #ffffff;
}

.widget[class*="bg-"] .table th, .widget[class*="bg-"] .table td {
    border-top-color: rgba(255, 255, 255, 0.25);
}

.widget[class*="bg-"] .table-striped tbody > tr:nth-child(odd) > td, .widget[class*="bg-"] .table-striped tbody > tr:nth-child(odd) > th {
    background: rgba(0, 0, 0, 0.15);
}

.widget[class*="bg-"] .table-bordered, .widget[class*="bg-"] .table-bordered th, .widget[class*="bg-"] .table-bordered td {
    border-color: rgba(255, 255, 255, 0.25);
}

.widget .table-hover tbody tr:hover > td, .widget .table-hover tbody tr:hover > th {
    background-color: rgba(0, 0, 0, 0.25);
}

.table-hover tbody tr:hover > td, .widget .table-hover tbody tr:hover > th {
    background-color: rgba(0, 0, 0, 0.25);
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    background-color: #ffffff;
    border: 2px solid #323232;
    *border-right-width: 2px;
    *border-bottom-width: 2px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}

.dropdown-menu .divider {
    *width: 100%;
    height: 1px;
    margin: 9px 20px;
    *margin: -5px 0 5px;
    overflow: hidden;
    background-color: #323232;
    border-bottom: 1px solid #ffffff;
}

.dropdown-menu > li > a {
    display: block;
    padding: 5px 20px;
    clear: both;
    font-weight: normal;
    line-height: 20px;
    color: #000000;
    white-space: nowrap;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-submenu:focus > a {
    color: #000000;
    text-decoration: none;
    background-color: #f3f3f3;
    background-image: none;
    filter: none;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    color: #ffffff;
    text-decoration: none;
    background-color: #323232;
    background-image: none;
    filter: none;
}

.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 0px 0px 0px;
    -moz-border-radius: 0 0px 0px 0px;
    border-radius: 0 0px 0px 0px;
}

.dropup .dropdown-submenu > .dropdown-menu {
    top: auto;
    bottom: 0;
    margin-top: 0;
    margin-bottom: -2px;
    -webkit-border-radius: 0px 0px 0px 0;
    -moz-border-radius: 0px 0px 0px 0;
    border-radius: 0px 0px 0px 0;
}

.dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 0px 0 0px 0px;
    -moz-border-radius: 0px 0 0px 0px;
    border-radius: 0px 0 0px 0px;
}

.typeahead {
    z-index: 1051;
    margin-top: 2px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    border: 0 none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.widget[class*="bg-"] .well {
    background-color: rgba(255, 255, 255, 0.25);
}

.well-large {
    padding: 24px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.well-small {
    padding: 9px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.btn {
    display: inline-block;
    *display: inline;
    padding: 5px 12px;
    margin-bottom: 0;
    *margin-left: .3em;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.15);
    vertical-align: middle;
    cursor: pointer;
    background-color: #CCCCCC;
    *background-color: #CCCCCC;
    background-image: none;
    font-weight: bold;
    border: 0 none;
    *border: 0;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn.bordered {
    border: 2px solid #ffffff;
}

.btn:hover, .btn:focus, .btn:active, .btn.active, .btn.disabled, .btn[disabled] {
    color: #333333;
    background-color: #e2e2e2;
    *background-color: #e2e2e2;
}

.btn:active, .btn.active {
    background-color: #DDDDDD \9;
}

.btn.active, .btn:active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn-large {
    padding: 11px 19px;
    font-size: 17.5px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.btn-small {
    padding: 2px 10px;
    font-size: 11.9px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.btn-mini {
    padding: 0 6px;
    font-size: 10.5px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.btn-primary {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15);
    background-color: #094ab2;
    *background-color: #094ab2;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
    color: #ffffff;
    background-color: #0A5BC4;
    *background-color: #0A5BC4;
    background-color: rgba(9, 74, 178, .8);
}

.btn-warning {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15);
    background-color: #f89406;
    *background-color: #f89406;
}

.btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active, .btn-warning.disabled, .btn-warning[disabled] {
    color: #ffffff;
    background-color: #faa732;
    *background-color: #faa732;
}

.btn-danger {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15);
    background-color: #ac193d;
    *background-color: #ac193d;
}

.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .btn-danger.disabled, .btn-danger[disabled] {
    color: #ffffff;
    background-color: #bf1e4b;
    *background-color: #bf1e4b;
}

.btn-success {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #008a00;
    *background-color: #008a00;
}

.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .btn-success.disabled, .btn-success[disabled] {
    color: #ffffff;
    background-color: #00a600;
    *background-color: #00a600;
}

.btn-info {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #2672ec;
    *background-color: #2672ec;
}

.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
    color: #ffffff;
    background-color: #2e8def;
    *background-color: #2e8def;
}

.btn-inverse {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #222222;
    *background-color: #222222;
}

.btn-inverse:hover, .btn-inverse:focus, .btn-inverse:active, .btn-inverse.active, .btn-inverse.disabled, .btn-inverse[disabled] {
    color: #ffffff;
    background-color: #444;
    *background-color: #444;
}

.btn-link {
    color: #0a5bc4;
    cursor: pointer;
    border-color: transparent;
    background: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.btn-link:hover, .btn-link:focus {
    color: #094ab2;
    text-decoration: underline;
    background-color: transparent;
}

.btn[class*="bg-"]:hover, .btn[class*="bg-"]:focus, .btn[class*="bg-"]:active, .btn[class*="bg-"].active, .btn[class*="bg-"].disabled, .btn[class*="bg-"][disabled] {
    opacity: 0.85;
}

.btn-group > .btn:first-child {
    margin-left: 0;
    -webkit-border-bottom-left-radius: 0px;
    border-bottom-left-radius: 0px;
    -webkit-border-top-left-radius: 0px;
    border-top-left-radius: 0px;
    -moz-border-radius-bottomleft: 0px;
    -moz-border-radius-topleft: 0px;
}

.btn-group > .btn:last-child, .btn-group > .dropdown-toggle {
    -webkit-border-top-right-radius: 0px;
    border-top-right-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
    border-bottom-right-radius: 0px;
    -moz-border-radius-topright: 0px;
    -moz-border-radius-bottomright: 0px;
}

.btn-group > .btn.large:first-child {
    margin-left: 0;
    -webkit-border-bottom-left-radius: 0px;
    border-bottom-left-radius: 0px;
    -webkit-border-top-left-radius: 0px;
    border-top-left-radius: 0px;
    -moz-border-radius-bottomleft: 0px;
    -moz-border-radius-topleft: 0px;
}

.btn-group > .btn.large:last-child, .btn-group > .large.dropdown-toggle {
    -webkit-border-top-right-radius: 0px;
    border-top-right-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
    border-bottom-right-radius: 0px;
    -moz-border-radius-topright: 0px;
    -moz-border-radius-bottomright: 0px;
}

.btn-group.open .btn.dropdown-toggle {
    background-color: #e6e6e6;
}

.btn-group.open .btn-primary.dropdown-toggle {
    background-color: #0044cc;
}

.btn-group.open .btn-warning.dropdown-toggle {
    background-color: #f89406;
}

.btn-group.open .btn-danger.dropdown-toggle {
    background-color: #bd362f;
}

.btn-group.open .btn-success.dropdown-toggle {
    background-color: #51a351;
}

.btn-group.open .btn-info.dropdown-toggle {
    background-color: #2672ec;
}

.btn-group.open .btn-inverse.dropdown-toggle {
    background-color: #333;
}

.btn-group-vertical > .btn:first-child {
    -webkit-border-radius: 0px 0px 0 0;
    -moz-border-radius: 0px 0px 0 0;
    border-radius: 0px 0px 0 0;
}

.btn-group-vertical > .btn:last-child {
    -webkit-border-radius: 0 0 0px 0px;
    -moz-border-radius: 0 0 0px 0px;
    border-radius: 0 0 0px 0px;
}

.btn-group-vertical > .btn-large:first-child {
    -webkit-border-radius: 0px 0px 0 0;
    -moz-border-radius: 0px 0px 0 0;
    border-radius: 0px 0px 0 0;
}

.btn-group-vertical > .btn-large:last-child {
    -webkit-border-radius: 0 0 0px 0px;
    -moz-border-radius: 0 0 0px 0px;
    border-radius: 0 0 0px 0px;
}

.alert {
    position: relative;
    padding: 8px 35px 8px 14px;
    margin-bottom: 20px;
    background-color: #DC572E;
    border: 0 none;
    text-shadow: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.alert a {
    color: rgba(255, 255, 255, 0.8);
}

.alert a[class!

=
btn

]
:hover {
    color: rgba(0, 0, 0, 0.8);
}

.alert .btn {
    color: #000000;
    border: 2px solid #ffffff;
}

.alert .btn-danger, .alert .btn-info, .alert .btn-inverse, .alert .btn-primary, .alert .btn-success, .alert .btn-warning {
    color: #ffffff;
    border: 2px solid #ffffff;
}

.alert, .alert h4 {
    color: #ffffff;
}

.alert h4 {
    line-height: 1.6em;
}

.alert .close {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 8px 10px;
    font-size: 24px;
    color: #fff;
    background: rgba(0, 0, 0, 0.25);
    opacity: 1;
}

.alert-success {
    color: #ffffff;
    background-color: #00A600;
    border-color: #00A600;
}

.alert-success h4 {
    color: #ffffff;
}

.alert-danger, .alert-error {
    color: #ffffff;
    background-color: #BF1E4B;
    border-color: #BF1E4B;
}

.alert-danger h4, .alert-error h4 {
    color: #ffffff;
}

.alert-info {
    color: #ffffff;
    background-color: #2E8DEF;
    border-color: #2E8DEF;
}

.alert-info h4 {
    color: #ffffff;
}

.nav > li i.app-icon {
    float: left;
    display: inline-block;
    margin-top: -.2em;
    margin-right: 2px;
    font-size: 2em;
}

.nav > li i.app-icon[class*='w-icon-3x'] {
    float: left;
    margin-top: -16px !important;
}

.nav > li > a {
    min-height: 20px;
}

.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #e2e2e2;
}

.nav-list .nav-header {
    color: #dddddd;
    font-size: 13px;
    text-shadow: none;
}

.nav-list > li > a {
    color: #ffffff;
    text-shadow: none;
}

.nav-list > li > a:hover {
    background-color: rgba(0, 0, 0, 0.15);
}

.nav-list > .active > a, .nav-list > .active > a:hover, .nav-list > .active > a:focus {
    color: #ffffff;
    text-shadow: none;
    background-color: rgba(0, 0, 0, 0.25);
}

.nav-list .divider {
    *width: 100%;
    height: 1px;
    margin: 9px 1px;
    *margin: -5px 0 5px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.25);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.nav-tabs {
    border-bottom: 2px solid #A4C400;
}

.nav-tabs > li {
    margin-bottom: -2px;
}

.nav-tabs > li > a {
    padding-top: 8px;
    padding-bottom: 8px;
    line-height: 20px;
    border: 0px solid transparent;
    -webkit-border-radius: 0px 0px 0 0;
    -moz-border-radius: 0px 0px 0 0;
    border-radius: 0px 0px 0 0;
}

.nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
    border-color: #f3f3f3 #f3f3f3 #A4C400;
}

.nav-tabs > .active > a, .nav-tabs > .active > a:hover, .nav-tabs > .active > a:focus {
    color: #000000;
    cursor: default;
    background-color: #ffffff;
    border: 2px solid #A4C400;
    border-bottom-color: transparent;
}

.nav-tabs > li.dropdown a .caret, .nav-tabs > li.dropdown a:hover .caret, .nav-tabs > li.dropdown a:focus .caret, .nav-tabs > li.open a .caret {
    margin-top: 8px;
    border-top-color: #000000;
    border-bottom-color: #000000;
}

.tabs-below > .nav-tabs {
    border-top: 2px solid #A4C400;
}

.tabs-below > .nav-tabs > li {
    margin-top: -2px;
}

.tabs-below > .nav-tabs > li > a {
    border: 2px solid transparent;
    -webkit-border-radius: 0 0 0px 0px;
    -moz-border-radius: 0 0 0px 0px;
    border-radius: 0 0 0px 0px;
}

.tabs-below > .nav-tabs > li > a:hover, .tabs-below > .nav-tabs > li > a:focus {
    border-color: #A4C400 #f3f3f3 #f3f3f3 #f3f3f3;
}

.tabs-below > .nav-tabs > .active > a, .tabs-below > .nav-tabs > .active > a:hover, .tabs-below > .nav-tabs > .active > a:focus {
    border-color: transparent #A4C400 #A4C400 #A4C400;
}

.tabs-left > .nav-tabs {
    float: left;
    margin-right: 19px;
    border-right: 2px solid #A4C400;
}

.tabs-left > .nav-tabs > li > a {
    border: 2px solid transparent;
    margin-right: -2px;
    -webkit-border-radius: 0px 0 0 0px;
    -moz-border-radius: 0px 0 0 0px;
    border-radius: 0px 0 0 0px;
}

.tabs-left > .nav-tabs > li > a:hover, .tabs-left > .nav-tabs > li > a:focus {
    border-color: #f3f3f3 #A4C400 #f3f3f3 #f3f3f3;
}

.tabs-left > .nav-tabs .active > a, .tabs-left > .nav-tabs .active > a:hover, .tabs-left > .nav-tabs .active > a:focus {
    border-color: #A4C400 transparent #A4C400 #A4C400;
    *border-right-color: #ffffff;
}

.tabs-right > .nav-tabs {
    float: right;
    margin-left: 19px;
    border-left: 2px solid #A4C400;
}

.tabs-right > .nav-tabs > li > a {
    border: 2px solid transparent;
    margin-left: -2px;
    -webkit-border-radius: 0 0px 0px 0;
    -moz-border-radius: 0 0px 0px 0;
    border-radius: 0 0px 0px 0;
}

.tabs-right > .nav-tabs > li > a:hover, .tabs-right > .nav-tabs > li > a:focus {
    border-color: #f3f3f3 #f3f3f3 #f3f3f3 #A4C400;
}

.tabs-right > .nav-tabs .active > a, .tabs-right > .nav-tabs .active > a:hover, .tabs-right > .nav-tabs .active > a:focus {
    border-color: #A4C400 #A4C400 #A4C400 transparent;
    *border-left-color: #ffffff;
}

.nav-pills > li > a {
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 2px;
    margin-bottom: 2px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.nav-pills > .active > a, .nav-pills > .active > a:hover, .nav-pills > .active > a:focus {
    color: #ffffff;
    background-color: #0A5BC4;
}

.nav-stacked > li {
    float: none;
    border-bottom-width: 1px;
    margin-bottom: -1px;
    background: #B2B2B2
}

.nav-pills.nav-stacked > li > a {
    margin-bottom: 0px;
    line-height: 20px;
}

.nav-stacked > .active > a, .nav-stacked > .active > a:hover, .nav-stacked > .active > a:focus {
    border-width: 1px;
    background: #CCCCCC;
    color: #000000;
}

.nav-tabs.nav-stacked > li:first-child > a {
    -webkit-border-top-right-radius: 0px;
    border-top-right-radius: 0px;
    -webkit-border-top-left-radius: 0px;
    border-top-left-radius: 0px;
    -moz-border-radius-topright: 0px;
    -moz-border-radius-topleft: 0px;
}

.nav-tabs.nav-stacked > li:last-child > a {
    -webkit-border-bottom-right-radius: 0px;
    border-bottom-right-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    border-bottom-left-radius: 0px;
    -moz-border-radius-bottomright: 0px;
    -moz-border-radius-bottomleft: 0px;
}

.nav-tabs .dropdown-menu {
    -webkit-border-radius: 0 0 0px 0px;
    -moz-border-radius: 0 0 0px 0px;
    border-radius: 0 0 0px 0px;
}

.nav-pills .dropdown-menu {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.nav .dropdown-toggle .caret {
    margin-top: 6px;
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
}

.nav .dropdown-toggle:hover .caret, .nav .dropdown-toggle:focus .caret {
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
}

.nav-tabs .open .dropdown-toggle, .nav-pills .open .dropdown-toggle, .nav > li.dropdown.open.active > a:hover, .nav > li.dropdown.open.active > a:focus {
    color: #000;
    background-color: #e2e2e2;
    border-color: #e2e2e2;
}

.nav li.dropdown.open .caret, .nav li.dropdown.open.active .caret, .nav li.dropdown.open a:hover .caret, .nav li.dropdown.open a:focus .caret {
    border-top-color: #000000;
    border-bottom-color: #000000;
    opacity: 1;
    filter: alpha(opacity=100);
}

.nav-tabs li .caret, .nav-tabs .active a:hover .caret {
    border-top-color: #555555;
    border-bottom-color: #555555;
}

.navbar-inner {
    min-height: 40px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #f3f3f3;
    background-image: none;
    filter: none;
    background-repeat: inherit;
    border: 0 none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    *zoom: 1;
}

.navbar-form button.btn {
    margin-top: -5px;
}

.navbar .brand {
    display: block;
    float: left;
    margin-left: -20px;
    font-size: 20px;
    font-weight: lighter;
    color: #000000;
    text-shadow: none;
}

.navbar-text {
    margin-bottom: 0;
    line-height: 40px;
    color: #000000;
}

.navbar-link {
    color: #000000;
}

.navbar-link:hover, .navbar-link:focus {
    color: #000000;
}

.navbar .divider-vertical {
    border-right: 1px solid #FFFFFF;
    border-left: 1px solid #DDDDDD;
}

.navbar-search .search-query {
    padding: 4px 14px;
    margin-bottom: 0;
    font-family: 'Open Sans', 'Lucida Grande', Verdana, Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: 1;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.navbar .nav > li > a {
    position: relative;
    float: none;
    color: #000000;
    text-decoration: none;
    text-shadow: none;
}

.navbar .nav > li > a:focus, .navbar .nav > li > a:hover {
    color: #000000;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.15);
}

.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
    color: #000000;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.navbar .btn-navbar, .navbar .btn-navbar-left {
    display: none;
    min-width: 18px;
    padding: 5px 10px;
    color: #000000;
    text-shadow: none;
    text-align: center;
    background-image: none;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075);
}

.navbar .btn-navbar-left {
    float: left;
}

.navbar .btn-navbar:hover, .navbar .btn-navbar:focus, .navbar .btn-navbar:active, .navbar .btn-navbar.active, .navbar .btn-navbar.disabled, .navbar .btn-navbar[disabled] {
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.8);
}

.navbar .btn-navbar:active, .navbar .btn-navbar.active {
    background-color: rgba(0, 0, 0, 0.8);
}

.navbar .btn-navbar .icon-bar, .navbar .btn-navbar-left .icon-bar {
    display: block;
    width: 18px;
    height: 2px;
    background-color: #f5f5f5;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}

.btn-navbar .icon-bar + .icon-bar, .btn-navbar-left .icon-bar + .icon-bar {
    margin-top: 3px;
}

.btn-navbar .icon-bar:first-child, .btn-navbar-left .icon-bar:first-child {
    margin-top: 4px;
}

.btn-navbar .icon-bar + .icon-bar:last-child, .btn-navbar-left .icon-bar + .icon-bar:last-child {
    margin-bottom: 4px;
}

.navbar .nav > li > .dropdown-menu:after {
    position: absolute;
    top: -6px;
    left: 10px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #f3f3f3;
    border-left: 6px solid transparent;
    content: '';
}

.navbar-fixed-bottom .nav > li > .dropdown-menu:after {
    top: auto;
    bottom: -7px;
    border-top: 7px solid #f3f3f3;
    border-bottom: 0;
}

.navbar .pull-right > li > .dropdown-menu:before, .navbar .nav > li > .dropdown-menu.pull-right:before {
    right: 12px;
    left: auto;
}

.navbar .pull-right > li > .dropdown-menu:after, .navbar .nav > li > .dropdown-menu.pull-right:after {
    right: 13px;
    left: auto;
}

.navbar .nav li.dropdown > a .caret, .navbar .nav li.dropdown > a:hover .caret, .navbar .nav li.dropdown > a:focus .caret {
    border-top-color: #000000;
    border-bottom-color: #000000;
}

.navbar .nav li.dropdown.open > .dropdown-toggle, .navbar .nav li.dropdown.active > .dropdown-toggle, .navbar .nav li.dropdown.open.active > .dropdown-toggle {
    color: #000000;
    background-color: rgba(0, 0, 0, 0.25);
}

.navbar .nav li.dropdown > .dropdown-toggle .caret {
    border-top-color: #000000;
    border-bottom-color: #000000;
}

.navbar .nav li.dropdown.open > .dropdown-toggle .caret, .navbar .nav li.dropdown.active > .dropdown-toggle .caret, .navbar .nav li.dropdown.open.active > .dropdown-toggle .caret {
    border-top-color: #000000;
    border-bottom-color: #000000;
}

.navbar .pull-right > li > .dropdown-menu .dropdown-menu, .navbar .nav > li > .dropdown-menu.pull-right .dropdown-menu {
    right: 100%;
    left: auto;
    margin-right: -1px;
    margin-left: 0;
    -webkit-border-radius: 0px 0 0px 0px;
    -moz-border-radius: 0px 0 0px 0px;
    border-radius: 0px 0 0px 0px;
}

.navbar .nav .dropdown-menu > .active > a, .navbar .nav .dropdown-menu > .active > a:hover, .navbar .nav .dropdown-menu > .active > a:focus {
    color: #000000;
}

.navbar .nav .dropdown-menu {
    border: 2px solid #f3f3f3;
    border: 2px solid rgba(243, 243, 243, 1);
}

.navbar .nav .dropdown-menu .divider {
    background-color: #f3f3f3;
}

.navbar .nav .dropdown-menu > .active > a, .navbar .nav .dropdown-menu > .active > a:hover, .navbar .nav .dropdown-menu > .active > a:focus {
    background-color: #f3f3f3;
}

.navbar .nav > li > .dropdown-menu:after {
    border-bottom: 6px solid #f3f3f3;
}

.navbar.navbar-fixed-bottom .nav > li > .dropdown-menu:after {
    border-top: 7px solid #f3f3f3;
}

.navbar-inverse .navbar-inner {
    background-color: #222222;
    border-color: #222222;
    background-image: none;
    filter: none;
}

.navbar-inverse .brand, .navbar-inverse .nav > li > a {
    color: #f3f3f3;
    text-shadow: none;
}

.navbar-inverse .brand:hover, .navbar-inverse .nav > li > a:hover, .navbar-inverse .brand:focus, .navbar-inverse .nav > li > a:focus {
    color: #f3f3f3;
}

.navbar-inverse .brand {
    color: #f3f3f3;
}

.navbar-inverse .navbar-text {
    color: #f3f3f3;
}

.navbar-inverse .nav > li > a:focus, .navbar-inverse .nav > li > a:hover {
    color: #f3f3f3;
    background-color: rgba(255, 255, 255, 0.25);
}

.navbar-inverse .nav .active > a, .navbar-inverse .nav .active > a:hover, .navbar-inverse .nav .active > a:focus {
    color: #f3f3f3;
    background-color: rgba(255, 255, 255, 0.15);
}

.navbar-inverse .navbar-link {
    color: #f3f3f3;
}

.navbar-inverse .navbar-link:hover, .navbar-inverse .navbar-link:focus {
    color: #f3f3f3;
}

.navbar-inverse .divider-vertical {
    border-right-color: #444444;
    border-left-color: #111111;
}

.navbar-inverse .nav li.dropdown.open > .dropdown-toggle, .navbar-inverse .nav li.dropdown.active > .dropdown-toggle, .navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle {
    color: #f3f3f3;
    background-color: rgba(255, 255, 255, 0.15);
}

.navbar-inverse .nav li.dropdown > a:hover .caret, .navbar-inverse .nav li.dropdown > a:focus .caret {
    border-top-color: #f3f3f3;
    border-bottom-color: #f3f3f3;
}

.navbar-inverse .nav li.dropdown > .dropdown-toggle .caret {
    border-top-color: #f3f3f3;
    border-bottom-color: #f3f3f3;
}

.navbar-inverse .nav li.dropdown.open > .dropdown-toggle .caret, .navbar-inverse .nav li.dropdown.active > .dropdown-toggle .caret, .navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle .caret {
    border-top-color: #f3f3f3;
    border-bottom-color: #f3f3f3;
}

.navbar-inverse .btn-navbar {
    color: #f3f3f3;
    text-shadow: none;
    background-color: rgba(255, 255, 255, 0.8);
    -webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1), 0 1px 0 rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1), 0 1px 0 rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1), 0 1px 0 rgba(0, 0, 0, 0.075);
}

.navbar-inverse .nav .dropdown-menu {
    border: 2px solid #323232;
    border: 2px solid rgba(50, 50, 50, 1);
}

.navbar-inverse .nav .dropdown-menu .divider {
    background-color: #323232;
}

.navbar-inverse .nav .dropdown-menu > .active > a, .navbar-inverse .nav .dropdown-menu > .active > a:hover, .navbar-inverse .nav .dropdown-menu > .active > a:focus {
    background-color: #323232;
    color: #FFFFFF;
}

.navbar-inverse .nav > li > .dropdown-menu:after {
    border-bottom: 6px solid #323232;
}

.navbar-inverse.navbar-fixed-bottom .nav > li > .dropdown-menu:after {
    border-top: 7px solid #323232;
}

.breadcrumb {
    padding: 8px 15px;
    margin: 0 0 20px;
    list-style: none;
    background-color: #EEEEEE;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.breadcrumb > li {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

.breadcrumb > li > a {
    text-shadow: none;
}

.breadcrumb > li > .divider {
    padding: 0 5px;
    color: #666666;
    text-shadow: none;
}

.breadcrumb > .active {
    color: #666666;
    text-shadow: none;
}

.pagination ul {
    display: inline-block;
    *display: inline;
    margin-bottom: 0;
    margin-left: 0;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    *zoom: 1;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.pagination ul > li > a, .pagination ul > li > span {
    float: left;
    padding: 4px 12px;
    line-height: 20px;
    text-decoration: none;
    color: #000;
    font-weight: bold;
    background-color: #CCCCCC;
    border: 1px solid #e2e2e2;
    border-left-width: 0;
}

.widget[class*="bg-"] .pagination ul > li > a, .widget[class*="bg-"] .pagination ul > li > span {
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0.15);
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.pagination ul > li > a:hover, .pagination ul > li > a:focus {
    background-color: #DDDDDD;
}

.widget[class*="bg-"] .pagination ul > li > a:hover, .widget[class*="bg-"] .pagination ul > li > a:focus {
    background-color: rgba(0, 0, 0, 0.4);
}

.pagination ul > .active > a, .pagination ul > .active > span {
    background-color: #e2e2e2;
}

.widget[class*="bg-"] .pagination ul > .active > a, .widget[class*="bg-"] .pagination ul > .active > span {
    background-color: rgba(0, 0, 0, 0.5);
}

.pagination ul > .disabled > span, .pagination ul > .disabled > a, .pagination ul > .disabled > a:hover, .pagination ul > .disabled > a:focus {
    color: #999999;
    cursor: default;
    background-color: #bababa;
}

.widget[class*="bg-"] .pagination ul > .disabled > span, .widget[class*="bg-"] .pagination ul > .disabled > a, .widget[class*="bg-"] .pagination ul > .disabled > a:hover, .widget[class*="bg-"] .pagination ul > .disabled > a:focus {
    color: #cdcdcd;
    background-color: rgba(0, 0, 0, 0.25);
}

.pagination ul > li:first-child > a, .pagination ul > li:first-child > span {
    border-left-width: 1px;
    -webkit-border-bottom-left-radius: 0px;
    border-bottom-left-radius: 0px;
    -webkit-border-top-left-radius: 0px;
    border-top-left-radius: 0px;
    -moz-border-radius-bottomleft: 0px;
    -moz-border-radius-topleft: 0px;
}

.pagination ul > li:last-child > a, .pagination ul > li:last-child > span {
    -webkit-border-top-right-radius: 0px;
    border-top-right-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
    border-bottom-right-radius: 0px;
    -moz-border-radius-topright: 0px;
    -moz-border-radius-bottomright: 0px;
}

.pagination-large ul > li > a, .pagination-large ul > li > span {
    padding: 11px 19px;
    font-size: 17.5px;
}

.pagination-large ul > li:first-child > a, .pagination-large ul > li:first-child > span {
    -webkit-border-bottom-left-radius: 0px;
    border-bottom-left-radius: 0px;
    -webkit-border-top-left-radius: 0px;
    border-top-left-radius: 0px;
    -moz-border-radius-bottomleft: 0px;
    -moz-border-radius-topleft: 0px;
}

.pagination-large ul > li:last-child > a, .pagination-large ul > li:last-child > span {
    -webkit-border-top-right-radius: 0px;
    border-top-right-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
    border-bottom-right-radius: 0px;
    -moz-border-radius-topright: 0px;
    -moz-border-radius-bottomright: 0px;
}

.pagination-small ul > li > a, .pagination-small ul > li > span {
    padding: 2px 10px;
    font-size: 11.9px;
}

.pagination-mini ul > li > a, .pagination-mini ul > li > span {
    padding: 0 6px;
    font-size: 10.5px;
}

.pagination-mini ul > li:first-child > a, .pagination-small ul > li:first-child > a, .pagination-mini ul > li:first-child > span, .pagination-small ul > li:first-child > span {
    -webkit-border-bottom-left-radius: 0px;
    border-bottom-left-radius: 0px;
    -webkit-border-top-left-radius: 0px;
    border-top-left-radius: 0px;
    -moz-border-radius-bottomleft: 0px;
    -moz-border-radius-topleft: 0px;
}

.pagination-mini ul > li:last-child > a, .pagination-small ul > li:last-child > a, .pagination-mini ul > li:last-child > span, .pagination-small ul > li:last-child > span {
    -webkit-border-top-right-radius: 0px;
    border-top-right-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
    border-bottom-right-radius: 0px;
    -moz-border-radius-topright: 0px;
    -moz-border-radius-bottomright: 0px;
}

.pager li > a, .pager li > span {
    display: inline-block;
    padding: 5px 14px;
    color: #000;
    font-weight: bold;
    background-color: #cccccc;
    border: 1px solid #e2e2e2;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.widget[class*="bg-"] .pager li > a, .widget[class*="bg-"] .pager li > span {
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0.15);
    border: 1px solid rgba(0, 0, 0, 0.15);
}

.pager li > a:hover, .pager li > a:focus {
    text-decoration: none;
    background-color: #DDDDDD;
}

.widget[class*="bg-"] .pager li > a:hover, .widget[class*="bg-"] .pager li > a:focus {
    background-color: rgba(0, 0, 0, 0.4);
}

.pager .disabled > a, .pager .disabled > a:hover, .pager .disabled > a:focus, .pager .disabled > span {
    color: #999999;
    cursor: default;
    background-color: #b2b2b2;
}

.widget[class*="bg-"] .pager .disabled > a, .widget[class*="bg-"] .pager .disabled > a:hover, .widget[class*="bg-"] .pager .disabled > a:focus, .widget[class*="bg-"] .pager .disabled > span {
    color: #cdcdcd;
    background-color: rgba(0, 0, 0, 0.25);
}

.modal {
    border: 0 none;
    outline: none;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}

.modal .close {
    margin-top: -9px;
    margin-right: -15px;
    padding: 9px;
    font-size: 24px;
    line-height: 30px;
    text-shadow: none;
}

.modal-footer .btn-link {
    font-size: 24px;
    color: rgba(0, 0, 0, 0.4);
    padding: 2px;
    margin-left: 0px;
    margin-right: 0px;
}

.modal-footer .btn-link:hover {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
}

.modal.modal-metro:before {
    position: absolute;
    left: -20px;
    width: 20px;
    height: 100%;
    z-index: +1;
    content: '';
    background: #A4C400;
}

.modal.modal-metro.border-black:before {
    background: #323232 !important;
}

.modal.modal-metro.border-silver:before {
    background: #f3f3f3 !important;
}

.modal.modal-metro.border-lime:before {
    background: #A4C400 !important;
}

.modal.modal-metro.border-green:before {
    background: #60A917 !important;
}

.modal.modal-metro.border-emerald:before {
    background: #008A00 !important;
}

.modal.modal-metro.border-teal:before {
    background: #00ABA9 !important;
}

.modal.modal-metro.border-cyan:before {
    background: #1BA1E2 !important;
}

.modal.modal-metro.border-cobalt:before {
    background: #0050EF !important;
}

.modal.modal-metro.border-indigo:before {
    background: #6A00FF !important;
}

.modal.modal-metro.border-violet:before {
    background: #AA00FF !important;
}

.modal.modal-metro.border-pink:before {
    background: #F472D0 !important;
}

.modal.modal-metro.border-magenta:before {
    background: #D80073 !important;
}

.modal.modal-metro.border-crimson:before {
    background: #A20025 !important;
}

.modal.modal-metro.border-red:before {
    background: #E51400 !important;
}

.modal.modal-metro.border-orange:before {
    background: #FA6800 !important;
}

.modal.modal-metro.border-amber:before {
    background: #F0A30A !important;
}

.modal.modal-metro.border-yellow:before {
    background: #E3C800 !important;
}

.modal.modal-metro.border-brown:before {
    background: #825A2C !important;
}

.modal.modal-metro.border-olive:before {
    background: #6D8764 !important;
}

.modal.modal-metro.border-steel:before {
    background: #647687 !important;
}

.modal.modal-metro.border-mauve:before {
    background: #76608A !important;
}

.modal.modal-metro.border-taupe:before {
    background: #87794E !important;
}

.modal.modal-metro .modal-footer {
    background: #FFFFFF;
}

.modal.modal-large {
    position: fixed;
    top: 10%;
    left: 0;
    z-index: 1050;
    width: 100%;
    margin-left: 0px;
    background-color: #A4C400;
    color: #FFFFFF;
}

.modal.modal-large .modal-header {
    padding: 9px 15px;
    border-color: rgba(0, 0, 0, 0.15);
}

.modal.modal-large .modal-footer {
    padding: 14px 15px 15px;
    margin-bottom: 0;
    text-align: right;
    background-color: transparent;
    -webkit-border-radius: 0 0 0px 0px;
    -moz-border-radius: 0 0 0px 0px;
    border-radius: 0 0 0px 0px;
    border-color: rgba(0, 0, 0, 0.15);
    *zoom: 1;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.modal.modal-large .modal-header .close {
    color: #FFFFFF;
    opacity: .6;
}

.modal.modal-large .modal-footer .btn-link {
    color: rgba(255, 255, 255, 1);
}

.modal.modal-large .modal-footer .btn-link:hover {
    color: rgba(255, 255, 255, 0.9);
}

.modal.modal-large.bg-silver .modal-header .close {
    color: #000000;
}

.modal.modal-large.bg-silver .modal-footer .btn-link {
    color: rgba(0, 0, 0, 0.4);
}

.modal.modal-large.bg-silver .modal-footer .btn-link:hover {
    color: rgba(0, 0, 0, 0.6);
}

.tooltip.in {
    opacity: 1;
    filter: alpha(opacity=100);
}

.tooltip-inner {
    max-width: 200px;
    padding: 8px 8px;
    color: #777;
    font-family: 'Lucida Grande', Verdana, Arial, Helvetica, sans-serif;
    text-align: center;
    text-decoration: none;
    background-color: #fff;
    border: 2px solid #999;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.tooltip.top .tooltip-arrow {
    bottom: 0;
    left: 50%;
    margin-left: -5px;
    border-top-color: transparent;
    border-width: 5px 5px 0;
}

.tooltip.right .tooltip-arrow {
    top: 50%;
    left: 0;
    margin-top: -5px;
    border-right-color: transparent;
    border-width: 5px 5px 5px 0;
}

.tooltip.left .tooltip-arrow {
    top: 50%;
    right: 0;
    margin-top: -5px;
    border-left-color: transparent;
    border-width: 5px 0 5px 5px;
}

.tooltip.bottom .tooltip-arrow {
    top: 0;
    left: 50%;
    margin-left: -5px;
    border-bottom-color: transparent;
    border-width: 0 5px 5px;
}

.popover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1010;
    display: none;
    max-width: 276px;
    padding: 1px;
    text-align: left;
    white-space: normal;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}

.popover-title {
    padding: 8px 14px;
    margin: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
    background-color: #f7f7f7;
    border-bottom: 1px solid #ebebeb;
    -webkit-border-radius: 0px 0px 0 0;
    -moz-border-radius: 0px 0px 0 0;
    border-radius: 0px 0px 0 0;
}

.thumbnail {
    display: block;
    padding: 0px;
    line-height: 20px;
    border: 2px solid transparent;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

a.thumbnail:hover, a.thumbnail:focus {
    border-color: rgba(0, 0, 0, 0.8);
    -webkit-box-shadow: 0 1px 4px rgba(10, 91, 196, 0.25);
    -moz-box-shadow: 0 1px 4px rgba(10, 91, 196, 0.25);
    box-shadow: 0 1px 4px rgba(10, 91, 196, 0.25);
}

.thumbnail .caption {
    padding: 9px;
    background: rgba(0, 0, 0, 0.5);
    color: #ffffff;
}

.label, .badge {
    display: inline-block;
    padding: 2px 6px;
    font-size: 11.844px;
    font-weight: bold;
    line-height: 14px;
    color: #ffffff;
    text-shadow: none;
    text-shadow: none;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #999999;
}

.label {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.label-important, .badge-important {
    background-color: #bf1e4b;
}

.label-important[href], .badge-important[href] {
    background-color: #ac193d;
}

.label-warning, .badge-warning {
    background-color: #dc572e;
}

.label-warning[href], .badge-warning[href] {
    background-color: #d24726;
}

.label-success, .badge-success {
    background-color: #00a600;
}

.label-success[href], .badge-success[href] {
    background-color: #008a00;
}

.label-info, .badge-info {
    background-color: #2e8def;
}

.label-info[href], .badge-info[href] {
    background-color: #2672ec;
}

.label-inverse, .badge-inverse {
    background-color: #333333;
}

.label-inverse[href], .badge-inverse[href] {
    background-color: #1a1a1a;
}

.progress {
    height: 10px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.15);
    background-image: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.progress.progress-small {
    height: 5px;
}

.progress.progress-large {
    height: 20px;
}

.progress .bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 10px;
    color: #ffffff;
    font-weight: normal;
    text-align: right;
    background-color: #0A5BC4;
    background-image: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: width 0.6s ease;
    -moz-transition: width 0.6s ease;
    -o-transition: width 0.6s ease;
    transition: width 0.6s ease;
}

.progress > .bar > .bar-text {
    position: absolute;
    float: left;
    padding: 2px;
    display: inline-block;
    margin-top: -24px;
    margin-left: -25px;
    font-size: 11px;
    font-weight: normal;
    background: rgba(0, 0, 0, .5);
}

.progress-striped .bar {
    background-color: #0A5BC4;
    background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    -webkit-background-size: 40px 40px;
    -moz-background-size: 40px 40px;
    -o-background-size: 40px 40px;
    background-size: 40px 40px;
}

.progress-danger .bar, .progress .bar-danger {
    background-color: #BF1E4B;
}

.progress-danger.progress-striped .bar, .progress-striped .bar-danger {
    background-color: #BF1E4B;
    background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}

.progress-success .bar, .progress .bar-success {
    background-color: #00A600;
}

.progress-success.progress-striped .bar, .progress-striped .bar-success {
    background-color: #00A600;
    background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}

.progress-info .bar, .progress .bar-info {
    background-color: #2E8DEF;
}

.progress-info.progress-striped .bar, .progress-striped .bar-info {
    background-color: #2E8DEF;
    background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}

.progress-warning .bar, .progress .bar-warning {
    background-color: #DC572E;
}

.progress-warning.progress-striped .bar, .progress-striped .bar-warning {
    background-color: #DC572E;
    background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}

.accordion-heading[class*="bg-"] a {
    color: #ffffff;
}

.accordion-group {
    margin-bottom: 2px;
    border: 1px solid #DDDDDD;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.accordion-inner {
    padding: 9px 15px;
    border-top: 1px solid #DDDDDD;
}

.widget[class*="bg-"] .accordion.full-widget {
    margin-top: -20px;
    margin-bottom: -18px;
}

.widget[class*="bg-"] .accordion.full-widget .accordion-group {
    border-left: 0 none;
    border-right: 0 none;
}

.widget[class*="bg-"] .accordion-heading {
    border-bottom: 0;
    background: rgba(0, 0, 0, 0.15);
}

.widget[class*="bg-"] .accordion-heading a {
    color: #FFFFFF;
}

.carousel-control {
    position: absolute;
    top: 40%;
    left: 15px;
    width: 40px;
    height: 50px;
    margin-top: -20px;
    font-size: 60px;
    font-weight: 100;
    line-height: 35px;
    color: #ffffff;
    text-align: center;
    background: #222222;
    border: 2px solid #ffffff;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    opacity: 0.8;
    filter: alpha(opacity=80);
}

.carousel-indicators li {
    display: block;
    float: left;
    width: 20px;
    height: 6px;
    margin-left: 5px;
    text-indent: -999px;
    background-color: #ccc;
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 0px;
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
    font-weight: normal;
    line-height: 1;
    color: #CCCCCC;
}

.page-header {
    padding-bottom: 9px;
    margin: 20px 0 30px;
    border-bottom: 1px solid #DDDDDD;
}

.hero-unit {
    padding: 60px;
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    color: inherit;
    background-color: rgba(255, 255, 255, 0.25);
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}